---
layout: base.njk
pagination:
    data: teidocuments.view
    size: 1
    alias: doc
    filter:
        - about.md
permalink: "{{ doc.path }}/"
eleventyComputed:
    toc: api/document/{{doc.path | urlencode}}/contents?target=transcription&icons=false
---

<pb-document id="document1" path="{{doc.path}}" odd="{{doc.odd}}"></pb-document>

<div class="offcanvas offcanvas-start" tabindex="-1" id="toc-panel" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Contents</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    {% tpfetch toc %}
  </div>
</div>
<div class="row">
    <pb-view id="title-view1" src="document1" xpath="//teiHeader/fileDesc/titleStmt" view="single" static="{{context}}">
        <pb-param name="mode" value="title"/>
    </pb-view>
</div>
<div class="row">
    <ul class="nav justify-content-start align-items-end gap-1 flex-nowrap">
        <li class="nav-item">
            <button class="btn btn-light" data-bs-toggle="offcanvas" data-bs-target="#toc-panel"><i class="bi bi-list-columns-reverse"></i></button>
        </li>
        <li class="nav-item">
            <pb-navigation emit="transcription" keyboard="left"
                subscribe="transcription" direction="backward" unit="page" class="btn btn-light">
                <i class="bi bi-arrow-left"></i>
            </pb-navigation>
        </li>
        <li class="nav-item">
            <pb-navigation emit="transcription" keyboard="right"
                subscribe="transcription" direction="forward" unit="page" class="btn btn-light">
                <i class="bi bi-arrow-right"></i>
            </pb-navigation>
        </li>
    </ul>
</div>
<div class="row">
    <pb-view id="view1" src="document1" append-footnotes="append-footnotes" subscribe="transcription" emit="transcription" view="{{doc.view}}"
        static="{{context}}">
    </pb-view>
</div>